<% if @name %>
  <h3>Welcome, <%= @name %>!</h3>
<% end %>

<h4>Choose between:</h4>
<a href="/play/human" name="Human">Human</a>
<a href="/play/computer/rule_based" name="Computer">Rule based Computer</a>
<a href="/play/computer/minimax" name="Computer">Minimax Computer</a>
