<!DOCTYPE html>
<html>
<head>
  <title>Tic Tac Toe</title>
</head>
<body>
  <h1>Welcome to Tic Tac Toe</h1>
  <h3>What is your name?</h3>

  <form action="/register" method="post">
    <input type="text" name="player_name" placeholder="Enter your name here:">
    <input type="submit" value="Register">
  </form>
</body>
</html>
