<h3>What is the name of the second player?</h3>

<form action="/fight" method="post">
  <input type="text" name="second_player_name" placeholder="Enter your name here:">
  <input type="submit" value="Register">
</form>
